

<!DOCTYPE html5>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Andrei Fedotov</title>
    <!-- <meta name="viewport" content=""> -->
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
  </head>
  <body>
    <header class="header">
      <div class="header-text">
        <h1>Hi,</h1>
        <h1>I am</h1>
        <h1>Andrei</h1>
      </div>
      <div class="header-content">
        <nav class="menu">
          <a href="#" to=".about">About Me</a>
          <a href="#" to=".projects">Projects</a>
          <!-- <a href="#" to="">Skills</a> -->
          <a href="#" to=".resume">Resume</a>
        </nav>
        <div class="header-socials">
          <a href="https://github.com/adfedotov">
            <img src="../public/img/gh32.png" alt="" class="icon">
          </a>
          <a href="https://www.instagram.com/andrewfedotovv/">
            <img src="../public/img/ig.png" alt="" class="icon">
          </a>
        </div>
      </div>
    </header>
    <div class="content">

    <!-- ABOUT SECTION -->
      <div class="about container">
        <h2 class="container-title"><%- about.title %></h2>
        <div class="about-content">
          <div class="about-text">
            <% about.text.forEach(function(t) { %>
              <p><%- t %></p>
            <% }); %>
          </div>

          <div class="about-badges">
            <% about.badges.forEach(function(badge) { %>
              <div class="badge">
                <h3 class="badge-title"><%- badge.title %></h3>
                  <% badge.badge_content.forEach(function(content) { %>
                    <div class="badge-content">
                      <img src="<%- content.icon %>" alt="">
                      <div class="badge-description">
                        <h4 class="badge-subtitle"><%- content.subtitle %></h4>
                        <% content.badge_text.forEach(function(text) { %>
                          <p><%- text %></p>
                        <% }); %>
                        <p class="badge-date"><%- content.date %></p>
                      </div>
                    </div>
                  <% }); %>
              </div>
            <% }); %>
          </div>
        </div>
      </div>

    <!-- PROJECTS SECTION -->
      <div class="projects container">
        <h2 class="container-title"><%- projects.title %></h2>
        <div class="projects-showcase">
          <% projects.project_list.forEach(function(project) { %>
            <div class="project-module">
              <img src="<%- project.img %>" alt="">
              <div class="project-description">
                <h3><%- project.title %></h3>
                <% project.description.forEach(function(line) { %>
                  <p><%- line %></p>
                <% }); %>
                <div class="project-links">
                  <a href="<%- project.github %>">
                    <img src="../public/img/gh32.png" alt="" class="icon">
                  </a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

      <!-- <div class="skills">
        Skills add later
      </div> -->

    <!-- RESUME SECTION -->
      <div class="resume container">
        <h2 class="container-title">Download My Resume</h2>
          <a href="../downloads/resume" download>AndreiFedotovResume.pdf</a>
      </div>
    </div>

  <!-- FOOTER SECTION -->
    <footer class="footer">
      <p>&copy; Andrei Fedotov. All rights reserved.</p>
    </footer>

    <script src="../public/javascripts/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="../public/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
