<!DOCTYPE html5>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Andrei Fedotov</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <header class="header">
      <div class="header-text">
        <h1>Hi,</h1>
        <h1>I am</h1>
        <h1>Andrei</h1>
      </div>
      <div class="header-content">
        <nav class="menu">
          <a href="#" to=".about">About Me</a>
          <a href="#" to=".projects">Projects</a>
          <a href="#" to=".resume">Resume</a>
        </nav>
        <div class="header-socials">
          <a href="https://www.linkedin.com/in/a-fedotov/">
            <img src="./assets/images/lin32.png" alt="LinkedIn Logo" class="icon">
          </a>
          <a href="https://github.com/adfedotov">
            <img src="./assets/images/gh32.png" alt="GitHub Logo" class="icon">
          </a>
          <a href="https://www.instagram.com/andrewfedotovv/">
            <img src="./assets/images/ig.png" alt="Instagram Logo" class="icon">
          </a>
        </div>
      </div>
    </header>
    <div class="content">

    <!-- ABOUT SECTION -->
      <div class="about container">
        <h2 class="container-title"><%- about.title %></h2>
        <div class="about-content">
          <div class="about-text">
            <% about.text.forEach(function(t) { %>
              <p><%- t %></p>
            <% }); %>
          </div>

          <div class="about-badges">
            <% about.badges.forEach(function(badge) { %>
              <div class="badge">
                <h3 class="badge-title"><%- badge.title %></h3>
                  <% badge.badge_content.forEach(function(content) { %>
                    <div class="badge-content">
                      <img src="<%- content.icon %>" alt="">
                      <div class="badge-description">
                        <h4 class="badge-subtitle"><%- content.subtitle %></h4>
                        <% content.badge_text.forEach(function(text) { %>
                          <p><%- text %></p>
                        <% }); %>
                        <p class="badge-date"><%- content.date %></p>
                      </div>
                    </div>
                  <% }); %>
              </div>
            <% }); %>
          </div>
        </div>
      </div>

    <!-- PROJECTS SECTION -->
      <div class="projects container">
        <h2 class="container-title"><%- projects.title %></h2>
        <div class="projects-showcase">
          <% projects.project_list.forEach(function(project) { %>
            <div class="project-module">
              <img src="<%- project.img %>" alt="">
              <div class="project-description">
                <h3><%- project.title %></h3>
                <% project.description.forEach(function(line) { %>
                  <p><%- line %></p>
                <% }); %>
                <% 
                  let used = '';
                  for (let i = 0; i < project.used.length; i++) {
                    used += project.used[i];
                    if (i < project.used.length - 1) used += ', ';
                  }
                %>
                <p class="project-description-used"><strong>Used: </strong><%- used %></p>
                <div class="project-links">
                  <a href="<%- project.github %>">
                    <img src="./assets/images/gh32.png" alt="" class="icon">
                  </a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

    <!-- RESUME SECTION -->
      <div class="resume container">
        <h2 class="container-title">Download My Resume</h2>
          <a href="../downloads/resume" title="AndreiFedotovResume" download>AndreiFedotovResume.pdf</a>
      </div>
    </div>

  <!-- FOOTER SECTION -->
    <footer class="footer">
      <p>&copy; Andrei Fedotov. All rights reserved.</p>
    </footer>

    <script type="text/javascript" src="./javascripts/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
